@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arvo, arial;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

#wrapper::-webkit-scrollbar{
    width: 0;
}

#wrapper::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
    transform-style: preserve-3d;
}

.background, .foreground{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background{
    transform: translateZ(-40px) scale(5);
}

.foreground{
    transform: translateZ(-20px) scale(3);
}

.container h1{
    position: absolute;
    top: 5rem;
    font-size: 7rem;
    color: white;
    user-select: none;
}

.container h1:hover{
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    transition: 0.8s;
}

section{
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 5rem 0;
}

.advantureTime{
    font-size: 5rem;
    padding: 0 10rem;
}

.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.desc{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 3.5rem;
    padding: 0.5rem 2.5rem;
    transform: translateX(-50%) translateY(-50%);

}

.bg{
    position: relative;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment : fixed;
}

.bg1{
    background-image: url(./sport-1.jpg);
}

.bg2{
    background-image: url(.//sport-2.jpg);
}

.bg3{
    background-image: url(./sport-3.jpg);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(45, 45, 45);
}

.footerAdd{
    display: none;
}
